<%- include("./partials/movies-head.ejs") %>

    <section id="main">
      <h1 class="movies-heading">Movies</h1>
        <div class="movie-container">
              <% for( let i = 0; i < movies.length; i++) {%>
            <div class="img">
              <a href="/movies/<%=movies[i]._id%>"><img class="small-poster" src="<%=movies[i].img%>"></a>
            </div>
            <%} %>
        </div>
    </section>

    <section id="shows">
      <h1 class="shows-heading">Shows</h1>
        <div class="shows-container">
            <% for(let i = 0; i < shows.length; i++) {%>
            <div class="img-shows">
              <a href="#"><img class = "shows-poster" src="<%=shows[i].img%>"></a>"
            </div>
            <%}%>
        </div>
    </section>
  </body>
</html>
