<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Page</title>
  </head>
  <body>
    <h1>Add A New Movie</h1>
    <form action="/movies" method="POST">
        <input type="text" placeholder="name" name="name" style="height: 30px;"><br>
        <input type="url" placeholder="image" name="img" style="height: 30px;"><br>
        <input type="number" placeholder="rating" name="rating" style="height: 30px;"><br>
        <input type="submit" value="Add Item"><br>
        <a href="/movies">Back to Home Page</a>

      </form>
  </body>
</html>
