<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  </head>
  <body>
    <h1>Show Page</h1>
    <div class="title">
      <h2>title: <%=movies.title%></h2>
    </div>
    <div class="img">
      <h3> <img src="<%=movies.img%>"></h3>
    </div>
    <div class="rating">
      <h4>Rating: <%=movies.rating%></h4>
    </div>
  </body>
</html>
