  <%- include("../partials/movies-head.ejs") %>
    <div class="new-overlay">
      <!------------------- Header------------- -->
      <header>
          <h1 class="new-h1">Add Your Own Movie/Show</h1>
      </header>
      <!------------------------ Main ------------------>
      <main class = "new-main">
        <form action="/movies" method="POST">
          <input type="text" class="text" placeholder="name" name="title" style="height: 40px;"><br>
          <input type="url" class="url" placeholder="image" name="img" style="height: 40px;"><br>
          <input type="number" class="number" placeholder="rating" name="rating" style="height: 40px;"><br>
            <button type="Submit" name="button">Submit</button><br>
            <a class="back-home"href="/movies">Back to Home Page</a>

        </form>
      </main>
    </div>
  </body>
</html>
