<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>User Signin</title>
</head>
<body>
	<h1>Sign In</h1>
	<form action="/users/signin" method="POST">
		<fieldset>
			<label for="username">Username:</label>
			<input type="text" name="username" id="username">
		</fieldset>
		<fieldset>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password">
		</fieldset>
		<input type="submit" value="Sign In">
	</form>
</body>
</html>
